.content5-maindiv {
  height: 100vh;
  /* background-image: url("../../assets//profilepic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.content5-titlediv {
  width: 95%;
  height: 15vh;
  border-radius: 1rem;
  background-color: black;
  margin: auto;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1.5rem;
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 700;
}
.content5-form {
  height: 80vh;
  width: 90%;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 4px 4px 4px 3px rgb(161, 161, 161);
}
.form-maindiv {
  display: flex;
  height: 60vh;
  font-family: cursive;
}

.form-div1 {
  width: 50%;
  padding: 2rem;
  height: 80vh;
}

.form-div2 {
  width: 50%;
  height: 80vh;
  padding: 2rem;
}

.divname {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2.5rem;
}

.label {
  font-size: 1.5rem;
  color: black;
}

.input {
  border-radius: 0.5rem;
  width: 60%;
  height: 3rem;
  font-family: cursive;
  padding: 1rem;
  font-size: 1rem;
}

.input1 {
  border-radius: 0.5rem;
  width: 60%;
  height: 7rem;
  font-family: cursive;
  padding: 1rem;
  font-size: 1rem;
}

.submit-contactdiv {
  margin: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submit-contact {
  padding: 1rem;
  width: 7rem;
  color: white;
  border-radius: 1rem;
  font-family: cursive;
  font-size: 1rem;
  background-color: black;
  font-weight: 900;
}
