.menucomp1maindiv {
  min-height: 100vh;
}
.menucomp1meal1div {
  padding: 1rem;
}
.menucomp1title {
  text-align: center;
  font-family: cursive;
}
.menucomp1content {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}
.menucompdiv1 {
  border-radius: 2rem;
  width: 18%;
  height: 50vh;
  margin-top: 1.5rem;
  box-shadow: 2px 1px 2px grey;
}
.menucompdiv2 {
  border-radius: 2rem;
  width: 18%;
  height: 50vh;
  margin-top: 1.5rem;
  box-shadow: 2px 1px 2px grey;
}
.menucompdiv3 {
  border-radius: 2rem;
  width: 18%;
  height: 50vh;
  margin-top: 1.5rem;
  box-shadow: 2px 1px 2px grey;
}

.menucompdiv1:hover {
  box-shadow: 2px 4px 6px grey;
}
.menucompdiv2:hover {
  box-shadow: 2px 4px 6px grey;
}

.menucompdiv3:hover {
  box-shadow: 2px 4px 6px grey;
}

.imgdiv {
  height: 10rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dishdiv {
  padding: 0.5rem;
  text-align: center;
  font-family: cursive;
}
.pricediv {
  font-family: cursive;
  padding: 0.5rem;
  text-align: center;
}

.buttonmaindiv {
  text-align: center;
  padding: 0.7rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.buttondiv {
  font-family: cursive;
  width: 7rem;
  height: 1.75rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}
